In [1]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split

In [2]:
data = pd.read_csv(r'F:\Github_dsc\Spam_Classifier\dfs\bkp\1.csv')
data.sample(3)

,Unnamed: 0,society_name,property_title,property_rent,types_of_rooms_available,furnishing_details_lst,bedroom_count,bathroom_count,balcony_count,superBuiltUp_area_sqft,...,Posted_By_and_On,Flooring,Floor_Number,Power_Backup,Property_Age,Months_of_Notice,Gated_Community,Electricity_n_Water_Charges,property_features,avg_rating
7,7,Vijay Nagar,Studio Apartments / 1 RK Flats for rent,"₹10,500 /month",NaN,NaN,1 Room,1 Bathroom,No Balcony,NaN,...,"Dealer on Jun 26, 2024",NaN,Ground of 0 Floors,NaN,1 to 5 Year Old,0 Months,NaN,Charges included,NaN,4.2
3,3,Divya Vihar,2 BHK Flat for rent,"₹12,000 /month",NaN,NaN,2 Bedrooms,2 Bathrooms,2 Balconies,NaN,...,"Owner on Jun 29, 2024",NaN,2nd of 7 Floors,NaN,1 to 5 Year Old,0 Months,Yes,Charges not included,NaN,3.8
23,23,Shree Siddhivinayak Residency,2 BHK Flat for rent,"₹12,000 /month",NaN,NaN,2 Bedrooms,1 Bathroom,1 Balcony,NaN,...,"Owner on Jul 03, 2024",NaN,2nd of 3 Floors,NaN,1 to 5 Year Old,0 Months,NaN,Charges included,NaN,NaN

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25 entries, 0 to 24
Data columns (total 25 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Unnamed: 0                   25 non-null     int64
 1   society_name                 25 non-null     object
 2   property_title               25 non-null     object
 3   property_rent                25 non-null     object
 4   types_of_rooms_available     0 non-null      float64
 5   furnishing_details_lst       0 non-null      float64
 6   bedroom_count                24 non-null     object
 7   bathroom_count               24 non-null     object
 8   balcony_count                24 non-null     object
 9   superBuiltUp_area_sqft       9 non-null      float64
 10  carpet_area_sqft             19 non-null     float64
 11  address_lst                  24 non-null     object
 12  available_for                24 non-null     object
 13  furnishing_type              0 non-null      float64
 14  available_from               14 non-null     object
 15  Posted_By_and_On             24 non-null     object
 16  Flooring                     15 non-null     object
 17  Floor_Number                 19 non-null     object
 18  Power_Backup                 8 non-null      object
 19  Property_Age                 24 non-null     object
 20  Months_of_Notice             24 non-null     object
 21  Gated_Community              12 non-null     object
 22  Electricity_n_Water_Charges  24 non-null     object
 23  property_features            12 non-null     object
 24  avg_rating                   15 non-null     float64
dtypes: float64(6), int64(1), object(18)
memory usage: 5.0+ KB

# data cleaning starts

In [4]:
data.drop(['Unnamed: 0'], axis=1, inplace=True)

In [5]:
data.sample(3)

,society_name,property_title,property_rent,types_of_rooms_available,furnishing_details_lst,bedroom_count,bathroom_count,balcony_count,superBuiltUp_area_sqft,carpet_area_sqft,...,Posted_By_and_On,Flooring,Floor_Number,Power_Backup,Property_Age,Months_of_Notice,Gated_Community,Electricity_n_Water_Charges,property_features,avg_rating
11,Mirchandani Shalimar Township,3 BHK Flat for rent,"₹26,000 /month",NaN,NaN,3 Bedrooms,3 Bathrooms,2 Balconies,1700.0,1250.0,...,"Dealer on Jun 26, 2024",Vitrified,3rd of 5 Floors,Partial,5 to 10 Year Old,1 Months,Yes,Charges not included,Lift(s)\nSwimming Pool\nPiped-gas\nNatural Lig...,4.3
19,Man Royal Premium,2 BHK Flat for rent,"₹23,000 /month",NaN,NaN,2 Bedrooms,2 Bathrooms,2 Balconies,1150.0,865.0,...,"Owner on Jul 03, 2024",NaN,4th of 6 Floors,NaN,10+ Year Old,1 Months,NaN,Charges not included,NaN,3.8
5,"Kalani Nagar, Indore",3 Bedroom House for rent,"₹22,000 /month",NaN,NaN,3 Bedrooms,3 Bathrooms,2 Balconies,NaN,NaN,...,"Owner on Jun 30, 2024",NaN,NaN,NaN,1 to 5 Year Old,1 Months,NaN,Charges not included,Private Garden / Terrace\nWater Storage\nVisit...,3.9

In [6]:
data['society_name'].value_counts()

society_name
Shree Siddhivinayak Residency    2
Milan Heights                    1
ak Houses                        1
Earthshastra Nariman City        1
Sapphire Avenue                  1
Kalani Nagar, Indore             1
Matrika Casa Greens              1
Divya Vihar                      1
Vijay Nagar                      1
Bijli Nagar, Bicholi Road        1
Scheme No 74C, Indore            1
Mahalaxmi Nagar, Indore          1
Mirchandani Premium Towers       1
Vijay Nagar , Indore             1
Luv Kush Apartments              1
Mirchandani Shalimar Township    1
Premier Towers                   1
SILVER PALACE, Indore            1
Rukhmani Plaza                   1
Shiv Vatika                      1
Man Royal Premium                1
Chandana Apartment               1
Sterling Skyline                 1
Awho Complex                     1
Name: count, dtype: int64

In [7]:
len(data['society_name'])

25

In [8]:
data['society_name'] = data['society_name'].str.lower().str.strip()
data['society_name'] = data['society_name'].apply(lambda x: x+',').str.split(',').str[0].str.strip()

In [9]:
import seaborn as sns

In [10]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25 entries, 0 to 24
Data columns (total 24 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   society_name                 25 non-null     object
 1   property_title               25 non-null     object
 2   property_rent                25 non-null     object
 3   types_of_rooms_available     0 non-null      float64
 4   furnishing_details_lst       0 non-null      float64
 5   bedroom_count                24 non-null     object
 6   bathroom_count               24 non-null     object
 7   balcony_count                24 non-null     object
 8   superBuiltUp_area_sqft       9 non-null      float64
 9   carpet_area_sqft             19 non-null     float64
 10  address_lst                  24 non-null     object
 11  available_for                24 non-null     object
 12  furnishing_type              0 non-null      float64
 13  available_from               14 non-null     object
 14  Posted_By_and_On             24 non-null     object
 15  Flooring                     15 non-null     object
 16  Floor_Number                 19 non-null     object
 17  Power_Backup                 8 non-null      object
 18  Property_Age                 24 non-null     object
 19  Months_of_Notice             24 non-null     object
 20  Gated_Community              12 non-null     object
 21  Electricity_n_Water_Charges  24 non-null     object
 22  property_features            12 non-null     object
 23  avg_rating                   15 non-null     float64
dtypes: float64(6), object(18)
memory usage: 4.8+ KB

In [11]:
data.drop(['furnishing_type', 'furnishing_details_lst', 'types_of_rooms_available'], axis=1, inplace=True)

In [12]:
data.sample(5)

,society_name,property_title,property_rent,bedroom_count,bathroom_count,balcony_count,superBuiltUp_area_sqft,carpet_area_sqft,address_lst,available_for,...,Posted_By_and_On,Flooring,Floor_Number,Power_Backup,Property_Age,Months_of_Notice,Gated_Community,Electricity_n_Water_Charges,property_features,avg_rating
0,milan heights,3 BHK Flat for rent,"₹55,000 /month",3 Bedrooms,3 Bathrooms,2 Balconies,1600.0,1500.0,"Milan Heights\nBicholi Mardana, Indore",Family Only,...,"Owner on Jun 18, 2024",Vitrified,8th of 8 Floors,Partial,1 to 5 Year Old,1 Months,Yes,Charges not included,Feng Shui / Vaastu Compliant\nLift(s)\nMainten...,4.0
8,bijli nagar,2 Bedroom House for rent,"₹9,000 /month",2 Bedrooms,1 Bathroom,No Balcony,NaN,NaN,"Bijli Nagar, Bicholi Road\nBijli Nagar, Indore",Bachelors (Women Only),...,"Owner on Jul 01, 2024",Mosaic,NaN,NaN,5 to 10 Year Old,1 Months,NaN,Charges not included,Water Storage\nPark\nWaste Disposal\nRain Wate...,NaN
4,sapphire avenue,2 BHK Flat for rent,"₹35,000 /month",2 Bedrooms,2 Bathrooms,2 Balconies,1500.0,1100.0,"Sapphire Avenue\nMG Road, Indore",All,...,"Dealer on Jun 29, 2024",Vitrified,2nd of 5 Floors,Full,0 to 1 Year Old,1 Months,Yes,Charges not included,Feng Shui / Vaastu Compliant\nSecurity / Fire ...,NaN
11,mirchandani shalimar township,3 BHK Flat for rent,"₹26,000 /month",3 Bedrooms,3 Bathrooms,2 Balconies,1700.0,1250.0,Mirchandani Shalimar Township\nAB Road indore ...,All,...,"Dealer on Jun 26, 2024",Vitrified,3rd of 5 Floors,Partial,5 to 10 Year Old,1 Months,Yes,Charges not included,Lift(s)\nSwimming Pool\nPiped-gas\nNatural Lig...,4.3
9,mahalaxmi nagar,1 BHK Independent Builder Floor for rent,"₹17,000 /month",1 Bedroom,1 Bathroom,1 Balcony,NaN,550.0,"Mahalaxmi Nagar, Indore",All,...,"Dealer on Jun 18, 2024",Wood,3rd of 5 Floors,NaN,1 to 5 Year Old,1 Months,NaN,Charges not included,NaN,4.3

In [13]:
data['property_title']

0                          3 BHK Flat for rent
1                          3 BHK Flat for rent
2                          2 BHK Flat for rent
3                          2 BHK Flat for rent
4                          2 BHK Flat for rent
5                     3 Bedroom House for rent
6                          3 BHK Flat for rent
7      Studio Apartments / 1 RK Flats for rent
8                     2 Bedroom House for rent
9     1 BHK Independent Builder Floor for rent
10                    3 Bedroom House for rent
11                         3 BHK Flat for rent
12                         3 BHK Flat for rent
13                    3 Bedroom House for rent
14                         1 BHK Flat for rent
15                         2 BHK Flat for rent
16                    4 Bedroom House for rent
17                         3 BHK Flat for rent
18                         2 BHK Flat for rent
19                         2 BHK Flat for rent
20                         3 BHK Flat for rent
21                         2 BHK Flat for rent
22                         3 BHK Flat for rent
23                         2 BHK Flat for rent
24                         1 BHK Flat for rent
Name: property_title, dtype: object

In [14]:
data['address_lst']

0                Milan Heights\nBicholi Mardana, Indore
1     Earthshastra Nariman City\nSuper Corridor, Indore
2                            ak Houses\nChhawni, Indore
3                        Divya Vihar\nBhawrasla, Indore
4                      Sapphire Avenue\nMG Road, Indore
5                                  Kalani Nagar, Indore
6          Matrika Casa Greens\nTalawali Chanda, Indore
7              Vijay Nagar\nScheme No 54 Indore, Indore
8        Bijli Nagar, Bicholi Road\nBijli Nagar, Indore
9                               Mahalaxmi Nagar, Indore
10                                Scheme No 74C, Indore
11    Mirchandani Shalimar Township\nAB Road indore ...
12    Mirchandani Premium Towers\nAB Road indore , I...
13                                 Vijay Nagar , Indore
14                                                  NaN
15            Premier Towers\nShalimar Township, Indore
16                                SILVER PALACE, Indore
17                           Shiv Vatika\nMR 11, Indore
18    Rukhmani Plaza\nRukhmani Plaza, A B Road, Pala...
19              Man Royal Premium\nVijay Nagar , Indore
20              Chandana Apartment\nNew Palasia, Indore
21            Sterling Skyline\nBicholi Mardana, Indore
22                   Awho Complex\nVijay Nagar , Indore
23    Shree Siddhivinayak Residency\nHukma Khedi, In...
24    Shree Siddhivinayak Residency\nLIG Square, Indore
Name: address_lst, dtype: object

In [15]:
data['address_lst'] = data['address_lst'].str.replace('\n', ',').str.split(',').str[1:-1].str[0]

In [16]:
data.rename(columns={'address_lst': 'area'}, inplace=True)

In [17]:
data['area'] = data['area'].str.lower().str.strip()

In [18]:
data['area'].value_counts()

area
bicholi mardana        2
ab road indore         2
vijay nagar            2
super corridor         1
mg road                1
talawali chanda        1
chhawni                1
bhawrasla              1
bicholi road           1
scheme no 54 indore    1
mr 11                  1
shalimar township      1
rukhmani plaza         1
new palasia            1
hukma khedi            1
lig square             1
Name: count, dtype: int64

In [19]:
data.sample(5)

,society_name,property_title,property_rent,bedroom_count,bathroom_count,balcony_count,superBuiltUp_area_sqft,carpet_area_sqft,area,available_for,...,Posted_By_and_On,Flooring,Floor_Number,Power_Backup,Property_Age,Months_of_Notice,Gated_Community,Electricity_n_Water_Charges,property_features,avg_rating
17,shiv vatika,3 BHK Flat for rent,"₹24,000 /month",3 Bedrooms,2 Bathrooms,2 Balconies,NaN,1100.0,mr 11,All,...,"Owner on Jul 04, 2024",Vitrified,6th of 6 Floors,NaN,0 to 1 Year Old,1 Months,NaN,Charges not included,Feng Shui / Vaastu Compliant\nSecurity / Fire ...,NaN
20,chandana apartment,3 BHK Flat for rent,"₹36,000 /month",3 Bedrooms,2 Bathrooms,1 Balcony,1550.0,1200.0,new palasia,All,...,"Owner on Jul 03, 2024",NaN,3rd of 5 Floors,NaN,10+ Year Old,0 Months,Yes,Charges not included,Security / Fire Alarm\nLift(s)\nMaintenance St...,4.1
9,mahalaxmi nagar,1 BHK Independent Builder Floor for rent,"₹17,000 /month",1 Bedroom,1 Bathroom,1 Balcony,NaN,550.0,NaN,All,...,"Dealer on Jun 18, 2024",Wood,3rd of 5 Floors,NaN,1 to 5 Year Old,1 Months,NaN,Charges not included,NaN,4.3
18,rukhmani plaza,2 BHK Flat for rent,"₹25,000 /month",2 Bedrooms,2 Bathrooms,2 Balconies,NaN,1149.0,rukhmani plaza,"Family , Bachelors (Women Only)",...,"Owner on Jul 03, 2024",Marble,1st of 5 Floors,Partial,10+ Year Old,3 Months,Yes,Charges not included,NaN,NaN
22,awho complex,3 BHK Flat for rent,"₹24,500 /month",3 Bedrooms,2 Bathrooms,2 Balconies,NaN,1560.0,vijay nagar,Family Only,...,"Owner on Jul 03, 2024",Others,1st of 10 Floors,Full,5 to 10 Year Old,2 Months,Yes,Charges not included,NaN,4.4

In [20]:
pd.set_option('display.max_colwidth', 1000)

In [21]:
data['property_features'] = data['property_features'].str.replace('\n', '/').str.split('/')

In [22]:
data['property_features']

0                                                                                                                           [Feng Shui ,  Vaastu Compliant, Lift(s), Maintenance Staff, Swimming Pool, Park, Piped-gas, Security Personnel, Fitness Centre ,  GYM, Club house ,  Community Center, Rain Water Harvesting]
1                                                                                                                                                                                                                                                                                                                     NaN
2                                                                                                                                                                                                                                                                                                                     NaN
3                                                                                                                                                                                                                                                                                                                     NaN
4                                                                                                                                                                                                              [Feng Shui ,  Vaastu Compliant, Security ,  Fire Alarm, Lift(s), Maintenance Staff, Park, Visitor Parking]
5                                                                                                                                                                                                                                                             [Private Garden ,  Terrace, Water Storage, Visitor Parking]
6                                                                                                                                                                                    [Lift(s), Swimming Pool, Park, Internet, wi-fi connectivity, Shopping Centre, Fitness Centre ,  GYM, Club house ,  Community Center]
7                                                                                                                                                                                                                                                                                                                     NaN
8                                                                                                                                                                                                                                                            [Water Storage, Park, Waste Disposal, Rain Water Harvesting]
9                                                                                                                                                                                                                                                                                                                     NaN
10                                                                                                                                                                                                                                                                                                                    NaN
11                                                                                                                                                                                             [Lift(s), Swimming Pool, Piped-gas, Natural Light, Shopping Centre, Fitness Centre ,  GYM, Club house ,  Community Center]
12                                                                                                                               [Intercom Facility, Lift(s), Maintenance Staff, Swimming Pool, Park, Visitor Parking, Natural Light, Airy Rooms, Shopping Centre, Fitness Centre ,  GYM, Club house ,  Community Center]
13                                                                                                                                                                                                                                                      [Private Garden ,  Terrace, Water Storage, Rain Water Harvesting]
14                                                                                                                                                                                                                                                                                                                    NaN
15    [Security ,  Fire Alarm, Feng Shui ,  Vaastu Compliant, Intercom Facility, Maintenance Staff, Water Storage, Piped-gas, Visitor Parking, Swimming Pool, Park, Security Personnel, Natural Light, Spacious Interiors, Shopping Centre, Fitness Centre ,  GYM, Club house ,  Community Center, Water softening plant]
16                                                                                                                                                                                                                                                                                                                    NaN
17                                                                                                                                                                                                                                [Feng Shui ,  Vaastu Compliant, Security ,  Fire Alarm, Lift(s), Park, Visitor Parking]
18                                                                                                                                                                                                                                                                                                                    NaN
19                                                                                                                                                                                                                                                                                                                    NaN
20                                                                                                                                                                                                                                            [Security ,  Fire Alarm, Lift(s), Maintenance Staff, Park, Visitor Parking]
21                                                                                                                                                                                                                                                                                                                    NaN
22                                                                                                                                                                                                                                                                                                                    NaN
23                                                                                                                                                                                                                                                                                                                    NaN
24                                                                                                                                                                                                                                                                                                                 [Park]
Name: property_features, dtype: object

In [23]:
data['property_features'].fillna(' ')

0                                                                                                                           [Feng Shui ,  Vaastu Compliant, Lift(s), Maintenance Staff, Swimming Pool, Park, Piped-gas, Security Personnel, Fitness Centre ,  GYM, Club house ,  Community Center, Rain Water Harvesting]
1
2
3
4                                                                                                                                                                                                              [Feng Shui ,  Vaastu Compliant, Security ,  Fire Alarm, Lift(s), Maintenance Staff, Park, Visitor Parking]
5                                                                                                                                                                                                                                                             [Private Garden ,  Terrace, Water Storage, Visitor Parking]
6                                                                                                                                                                                    [Lift(s), Swimming Pool, Park, Internet, wi-fi connectivity, Shopping Centre, Fitness Centre ,  GYM, Club house ,  Community Center]
7
8                                                                                                                                                                                                                                                            [Water Storage, Park, Waste Disposal, Rain Water Harvesting]
9
10
11                                                                                                                                                                                             [Lift(s), Swimming Pool, Piped-gas, Natural Light, Shopping Centre, Fitness Centre ,  GYM, Club house ,  Community Center]
12                                                                                                                               [Intercom Facility, Lift(s), Maintenance Staff, Swimming Pool, Park, Visitor Parking, Natural Light, Airy Rooms, Shopping Centre, Fitness Centre ,  GYM, Club house ,  Community Center]
13                                                                                                                                                                                                                                                      [Private Garden ,  Terrace, Water Storage, Rain Water Harvesting]
14
15    [Security ,  Fire Alarm, Feng Shui ,  Vaastu Compliant, Intercom Facility, Maintenance Staff, Water Storage, Piped-gas, Visitor Parking, Swimming Pool, Park, Security Personnel, Natural Light, Spacious Interiors, Shopping Centre, Fitness Centre ,  GYM, Club house ,  Community Center, Water softening plant]
16
17                                                                                                                                                                                                                                [Feng Shui ,  Vaastu Compliant, Security ,  Fire Alarm, Lift(s), Park, Visitor Parking]
18
19
20                                                                                                                                                                                                                                            [Security ,  Fire Alarm, Lift(s), Maintenance Staff, Park, Visitor Parking]
21
22
23
24                                                                                                                                                                                                                                                                                                                 [Park]
Name: property_features, dtype: object

In [27]:
all_features=[]
for row in data['property_features'].fillna(' '):
    for feature in list(row):
        all_features.append(feature.lower().strip())
print(all_features)
print(len(all_features))

['feng shui', 'vaastu compliant', 'lift(s)', 'maintenance staff', 'swimming pool', 'park', 'piped-gas', 'security personnel', 'fitness centre', 'gym', 'club house', 'community center', 'rain water harvesting', '', '', '', 'feng shui', 'vaastu compliant', 'security', 'fire alarm', 'lift(s)', 'maintenance staff', 'park', 'visitor parking', 'private garden', 'terrace', 'water storage', 'visitor parking', 'lift(s)', 'swimming pool', 'park', 'internet', 'wi-fi connectivity', 'shopping centre', 'fitness centre', 'gym', 'club house', 'community center', '', 'water storage', 'park', 'waste disposal', 'rain water harvesting', '', '', 'lift(s)', 'swimming pool', 'piped-gas', 'natural light', 'shopping centre', 'fitness centre', 'gym', 'club house', 'community center', 'intercom facility', 'lift(s)', 'maintenance staff', 'swimming pool', 'park', 'visitor parking', 'natural light', 'airy rooms', 'shopping centre', 'fitness centre', 'gym', 'club house', 'community center', 'private garden', 'terrace', 'water storage', 'rain water harvesting', '', 'security', 'fire alarm', 'feng shui', 'vaastu compliant', 'intercom facility', 'maintenance staff', 'water storage', 'piped-gas', 'visitor parking', 'swimming pool', 'park', 'security personnel', 'natural light', 'spacious interiors', 'shopping centre', 'fitness centre', 'gym', 'club house', 'community center', 'water softening plant', '', 'feng shui', 'vaastu compliant', 'security', 'fire alarm', 'lift(s)', 'park', 'visitor parking', '', '', 'security', 'fire alarm', 'lift(s)', 'maintenance staff', 'park', 'visitor parking', '', '', '', 'park']
112

In [30]:
pd.DataFrame({'features':all_features}).value_counts(dropna=True).sort_values(ascending=True)

features
wi-fi connectivity        1
spacious interiors        1
airy rooms                1
water softening plant     1
waste disposal            1
internet                  1
intercom facility         2
terrace                   2
security personnel        2
private garden            2
natural light             3
piped-gas                 3
rain water harvesting     3
feng shui                 4
shopping centre           4
water storage             4
vaastu compliant          4
security                  4
fire alarm                4
fitness centre            5
gym                       5
community center          5
maintenance staff         5
club house                5
swimming pool             5
visitor parking           6
lift(s)                   7
park                      9
                         13
Name: count, dtype: int64

In [31]:
data.sample(5)

,society_name,property_title,property_rent,bedroom_count,bathroom_count,balcony_count,superBuiltUp_area_sqft,carpet_area_sqft,area,available_for,...,Posted_By_and_On,Flooring,Floor_Number,Power_Backup,Property_Age,Months_of_Notice,Gated_Community,Electricity_n_Water_Charges,property_features,avg_rating
21,sterling skyline,2 BHK Flat for rent,"₹16,500 /month",2 Bedrooms,2 Bathrooms,1 Balcony,NaN,800.0,bicholi mardana,Family Only,...,"Owner on Jul 03, 2024",Ceramic,3rd of 9 Floors,NaN,10+ Year Old,1 Months,NaN,Charges not included,NaN,4.0
18,rukhmani plaza,2 BHK Flat for rent,"₹25,000 /month",2 Bedrooms,2 Bathrooms,2 Balconies,NaN,1149.0,rukhmani plaza,"Family , Bachelors (Women Only)",...,"Owner on Jul 03, 2024",Marble,1st of 5 Floors,Partial,10+ Year Old,3 Months,Yes,Charges not included,NaN,NaN
23,shree siddhivinayak residency,2 BHK Flat for rent,"₹12,000 /month",2 Bedrooms,1 Bathroom,1 Balcony,NaN,1000.0,hukma khedi,All,...,"Owner on Jul 03, 2024",NaN,2nd of 3 Floors,NaN,1 to 5 Year Old,0 Months,NaN,Charges included,NaN,NaN
14,luv kush apartments,1 BHK Flat for rent,"₹18,000 /month",NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,scheme no 74c,3 Bedroom House for rent,"₹30,000 /month",3 Bedrooms,3 Bathrooms,2 Balconies,NaN,NaN,NaN,All,...,"Dealer on Jun 19, 2024",NaN,NaN,NaN,1 to 5 Year Old,0 Months,NaN,Charges not included,NaN,NaN

In [ ]:
# dig out the story including all the features by performing eDA 
# ie. univariatea biavariate and multivariate analysis

In [56]:
data['available_for'].str.strip().str.lower().fillna('').str.find('family')

0     0
1    -1
2    -1
3     0
4    -1
5     0
6     0
7    -1
8    -1
9    -1
10   -1
11   -1
12   -1
13    0
14   -1
15   -1
16   -1
17   -1
18    0
19    0
20   -1
21    0
22    0
23   -1
24   -1
Name: available_for, dtype: int64

In [61]:
family = []
for i in data['available_for'].str.strip().str.lower().str.find('family').to_list():
    if i==-1:
        family.append(0)
    else:
        family.append(1)
data['available_for_family'] = pd.Series(family)
data['available_for_family']

0     1
1     0
2     0
3     1
4     0
5     1
6     1
7     0
8     0
9     0
10    0
11    0
12    0
13    1
14    1
15    0
16    0
17    0
18    1
19    1
20    0
21    1
22    1
23    0
24    0
Name: available_for_family, dtype: int64

In [72]:
data['available_for'].fillna('').str.strip().str.lower().str.replace('women', '').str.find('men')

0     -1
1     -1
2     -1
3     -1
4     -1
5     -1
6     -1
7     11
8     -1
9     -1
10    -1
11    -1
12    -1
13    20
14    -1
15    -1
16    -1
17    -1
18    -1
19    -1
20    -1
21    -1
22    -1
23    -1
24    -1
Name: available_for, dtype: int64

In [71]:
bachelor_men=[]
for i in data['available_for'].fillna('').str.strip().str.lower().str.replace('women', '').str.find('men').to_list():
    if i==-1:
        bachelor_men.append(0)
    else:
        bachelor_men.append(1)
data['available_for_bachelor_men'] = pd.Series(bachelor_men)
data['available_for_bachelor_men']

0     0
1     0
2     0
3     0
4     0
5     0
6     0
7     1
8     0
9     0
10    0
11    0
12    0
13    1
14    0
15    0
16    0
17    0
18    0
19    0
20    0
21    0
22    0
23    0
24    0
Name: available_for_bachelor_men, dtype: int64

In [73]:
data.sample(3)

,society_name,property_title,property_rent,bedroom_count,bathroom_count,balcony_count,superBuiltUp_area_sqft,carpet_area_sqft,area,available_for,...,Property_Age,Months_of_Notice,Gated_Community,Electricity_n_Water_Charges,property_features,avg_rating,family,bachelor_men,available_for_family,available_for_bachelor_men
24,shree siddhivinayak residency,1 BHK Flat for rent,"₹12,000 /month",1 Bedroom,1 Bathroom,1 Balcony,NaN,1000.0,lig square,All,...,1 to 5 Year Old,6 Months,Yes,Charges not included,[Park],NaN,0,0,0,0
10,scheme no 74c,3 Bedroom House for rent,"₹30,000 /month",3 Bedrooms,3 Bathrooms,2 Balconies,NaN,NaN,NaN,All,...,1 to 5 Year Old,0 Months,NaN,Charges not included,NaN,NaN,0,0,0,0
20,chandana apartment,3 BHK Flat for rent,"₹36,000 /month",3 Bedrooms,2 Bathrooms,1 Balcony,1550.0,1200.0,new palasia,All,...,10+ Year Old,0 Months,Yes,Charges not included,"[Security , Fire Alarm, Lift(s), Maintenance Staff, Park, Visitor Parking]",4.1,0,0,0,0

In [74]:
data['available_for']

0                         Family Only
1                                 All
2                                 All
3                         Family Only
4                                 All
5                         Family Only
6     Family , Bachelors (Women Only)
7               Bachelors (Men/Women)
8              Bachelors (Women Only)
9                                 All
10                                All
11                                All
12                                All
13      Family , Bachelors (Men Only)
14                                NaN
15                                All
16                                All
17                                All
18    Family , Bachelors (Women Only)
19                        Family Only
20                                All
21                        Family Only
22                        Family Only
23                                All
24                                All
Name: available_for, dtype: object

In [77]:
data['available_for'].fillna('').str.strip().str.lower().str.find('women').to_list()

[-1,
 -1,
 -1,
 -1,
 -1,
 -1,
 20,
 15,
 11,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 20,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1]

In [78]:
bachelor_women=[]
for i in data['available_for'].fillna('').str.strip().str.lower().str.find('women').to_list():
    if i==-1:
        bachelor_women.append(0)
    else:
        bachelor_women.append(1)
data['available_for_bachelor_women'] = pd.Series(bachelor_women)
data['available_for_bachelor_women']

0     0
1     0
2     0
3     0
4     0
5     0
6     1
7     1
8     1
9     0
10    0
11    0
12    0
13    0
14    0
15    0
16    0
17    0
18    1
19    0
20    0
21    0
22    0
23    0
24    0
Name: available_for_bachelor_women, dtype: int64

In [81]:
data['available_for']

0                         Family Only
1                                 All
2                                 All
3                         Family Only
4                                 All
5                         Family Only
6     Family , Bachelors (Women Only)
7               Bachelors (Men/Women)
8              Bachelors (Women Only)
9                                 All
10                                All
11                                All
12                                All
13      Family , Bachelors (Men Only)
14                                NaN
15                                All
16                                All
17                                All
18    Family , Bachelors (Women Only)
19                        Family Only
20                                All
21                        Family Only
22                        Family Only
23                                All
24                                All
Name: available_for, dtype: object

In [98]:
available_for_all=[]
for i in data['available_for'].fillna('').str.strip().str.lower().str.find('all').to_list():
    if i==-1:
        available_for_all.append(0)
    else:
        available_for_all.append(1)
available_for_all

data['available_for_family'] = data['available_for_family']+available_for_all
data['available_for_bachelor_men'] = data['available_for_bachelor_men']+available_for_all
data['available_for_bachelor_women'] = data['available_for_bachelor_women']+available_for_all

In [ ]:
data.sample(3)